<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "grass2.jpg" %>
      <div class="caption left-align">
        <h3>Landscaping</h3>
        <h5 class="light grey-text text-lighten-3">The way you deserve.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "flag.jpg" %>
      <div class="caption right-align">
        <h3>Verteran Owned</h3>
        <h5 class="light grey-text text-lighten-3">Community focused.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "grass-sun.jpg" %>
      <div class="caption left-align">
        <h3>Landscaping</h3>
        <h5 class="light grey-text text-lighten-3">The way you deserve.</h5>
      </div>
    </li>
  </ul>
</div>
