<blockquote style="border-left:none;">
  <p class="flow-text">
    Have questions?</br>
    Want to schedule a free estimate?</br>
    Feel free to contact us, we look forward to hearing from you!
  </p>
</blockquote>

<%= render 'form' %>
