<blockquote style="border-left:none;">
  <p class="flow-text">
    Have questions?</br>
    Want to schedule a free estimate?</br>
    Send us an email, or call us at <b>(256) 504 - 9182</b>.</br>
    We look forward to hearing from you!
  </p>
</blockquote>

<%= render 'form' %>
