// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  max-width: 100%
}

.welcome-header {
  background-image: image-url('grass-sun.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}