<footer class="nav-wrapper page-footer" style="margin-top:0px;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Who we are.</h5>
        <div class="col l4">
          <%= image_tag 'Family-Stock-Photo.jpg', class:'circle responsive-img' %>
        </div>
        <div class="col l8">
          <p>We are a small verteran-owned company located in Lake City, Florida. We pride ourselves in providing affordable and premium lawncare services to the Lake City area.</p>
          <p>Phone: (256) 504 - 9182.</p>
          <p>Email: <%= link_to "kevinmlipscomb@gmail.com", email_new_path, class:'hyperlink-footer'%></p>
        </div>
      </div>
      <!-- <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>
