<header>
  <div class="navbar-fixed">
    <nav role="navigation">
      <div class="container nav-wrapper">
        <a style="padding-top:4px;" href="/" class="brand-logo" data-no-turbolink><%= image_tag 'logos/daograss.png' %></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Schedule</a></li>
          <li><%= link_to 'Contact Us', email_new_path %></li>
          <li><a href="javascript.html">Rates</a></li>
          <li><a href="javascript.html">Sign In</a></li>
          <li>|</li>
          <li><a href="javascript.html">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
